.strengthsItem {
    width: 100%;
    
    box-sizing: border-box;

    display: flex;
    align-items: center;
    flex-direction: row;
}

.text {
    width: 100%;
    height: 100%;
    text-align: left;
}

.iconWrapper {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1px;
    margin: 0 10px 0 0;
}