.contactItem {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 21px;
    padding: 21px;
    box-sizing: border-box;
    border-radius: 14px;
    box-sizing: border-box;
    transition:
        border-color 0.3s ease,
        transform 0.3s ease;
}

.subItem{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 21px
}

.containerText {
    flex-direction: column;
    justify-items: start;
    align-content: center;
}
