.content {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.paddingTop {
  padding: 70px 0 0 0;
}

/* Botões */
.actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 14px;
  width: 100%;
}