.button {
  border-radius: 999px;
  border: none;

  background: linear-gradient(135deg, var(--color-energy-sec), var(--color-energy-main));
  color: var(--color-txt-main);

  font-size: 17px;
  font-weight: 500;
  cursor: pointer;

  transition: opacity 0.2s ease;
}

.button:hover {
  opacity: 0.9;
}

.button:focus,
.button:active {
  outline: none;
}