.button {
  border-radius: 999px;
  border: none;

  padding: 10px 20px;

  background: linear-gradient(135deg,
      var(--color-secondary),
      var(--color-secondary-hover));
  color: var(--color-txt-main);

  font-size: 17px;
  font-weight: 500;
  cursor: pointer;

  transition: opacity 0.2s ease;
}

.button:hover {
  opacity: 0.9;
}

.button:focus,
.button:active {
  outline: none;
}