.button {
  /*padding: 14px 21px;*/
  border-radius: 999px;
  border: none;

  background: linear-gradient(135deg, #0091ffbe, #00d084b6);
  color: #ffffff;

  font-size: 17px;
  font-weight: 500;
  cursor: pointer;

  transition: opacity 0.2s ease;
}

.button:hover {
  opacity: 0.9;
}

.button:focus,
.button:active {
  outline: none;
}
