.featureItem {
    min-width: 360px;
    min-height: 250px;
    display: flex;
    flex-direction: column; 
    gap: 24px;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 24px;
    transition:
        border-color 0.3s ease,
        transform 0.3s ease;
}

.featureItem:hover {
    border-color: #00e0ff;
    transform: translateY(-7px);
}