.color-primary {
    color: #00e0ff
}

.text-muted {
    color: #9ca3af;
}

/* Neutral */
.color-white {
    color: #ffffff
}

.color-black {
    color: #000000
}

.text-white {
    color: #ffffff
}

.bg-main {
    background: rgb(0, 0, 0);
}

.bg-primary {
    background: radial-gradient(circle at left,
            rgba(0, 224, 255, 0.08),
            transparent 40%),
        linear-gradient(400deg, #000001 0%, #050b17 100%);
}

.bg-secondary {
    background: radial-gradient(circle at left,
            rgba(0, 225, 255, 0.197),
            transparent 40%),
        linear-gradient(400deg, #0000019c 0%, #0d1b37 100%);
}

.bg-container {
    background: rgba(42, 66, 143, 0.37);
}

.bd-color {
    border: 1px solid rgba(0, 224, 255, 0.4);
}