.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerMain {
    width: 100%;
    max-width: 1324px;
    padding: 48px 24px;
    box-sizing: border-box;
    align-items: center;
}

.gridMode {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
}

.columnMode {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.title {
    font-weight: 600;
    margin: 0;
}

.title span {
    background:
        radial-gradient(circle at left,
            rgba(0, 224, 255, 0.08),
            transparent 40%),
        linear-gradient(135deg, #00e0ff, #00d084);

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}

.description {
    margin: 0;
}

.iconWrapper {
    width: 49px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: radial-gradient(circle at left,
            rgba(0, 224, 255, 0.08),
            transparent 40%),
        linear-gradient(135deg, #00e1ffaf, #00d084b7);
}

.imageWrapper {
    max-width: 660px;
    
    width: 100%;
}

.imageWrapper img {
    width: 100%;
    height: auto;
    border-radius: 24px;
    object-fit: cover;
}