.title {
    font-size: 46px;
    font-weight: 600;
    color: #ffffff;
}

.title span {
    background:
        radial-gradient(circle at left,
            rgba(0, 224, 255, 0.08),
            transparent 40%),
        linear-gradient(135deg, #00e0ff, #00d084);

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}

.description {
    font-size: 20px;
    line-height: 1.6;
    color: #9ca3af;
}