.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerMain {
    width: 100%;
    max-width: 1324px;
    padding: 48px 24px;
    box-sizing: border-box;
    align-items: center;
}

.gridMode {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
}

.columnMode {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.title {
    font-weight: 600;
    margin: 0;
}

.title span {
    background: linear-gradient(90deg,
           var(--color-bt-main),
            var(--color-bt-cta));

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 6px rgba(31, 106, 225, 0.15);
}

.description {
    margin: 0;
    font-weight: 400;
}

.iconWrapper {
    width: 49px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    background: radial-gradient(circle at left,
            rgba(0, 38, 255, 0.08),
            transparent 40%),
        linear-gradient(135deg, var(--color-highlight-main), var(--color-highlight-sec));
}

.imageWrapper {
    max-width: 660px;
    width: 100%;
}

.imageWrapper img {
    width: 100%;
    height: auto;
    border-radius: 21px;
    object-fit: cover;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--color-txt-sec);
}