.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    width: 100%;
    min-height: calc(100vh - 20px);

    align-items: center;
    justify-content: space-between;

    padding: 48px 24px;
    gap: 24px;

    box-sizing: border-box;

    background: radial-gradient(circle at left,
            rgba(0, 224, 255, 0.08),
            transparent 40%),
        linear-gradient(400deg, #000001 0%, #050b17 100%);
}

.columnContainer {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: calc(100vh - 20px);

    align-items: center;
    justify-content: space-between;

    padding: 48px 24px;
    gap: 24px;

    box-sizing: border-box;

    background: radial-gradient(circle at left,
            rgba(0, 224, 255, 0.08),
            transparent 40%),
        linear-gradient(400deg, #000001 0%, #050b17 100%);
}

.title {
    font-size: 39px;
    font-weight: 600;
    color: #ffffff;

    margin: 0;
}

.title span {
    background:
        radial-gradient(circle at left,
            rgba(0, 224, 255, 0.08),
            transparent 40%),
        linear-gradient(135deg, #00e0ff, #00d084);

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}

.primaryText {
    font-size: 14px;
    line-height: 1.6;
    color: #9ca3af;
}

.secondaryText {
    font-size: 10px;
    line-height: 1.0;
    color: #9ca3af;
}

.primaryDescription {
    font-size: 20px;
    line-height: 1.6;
    color: #9ca3af;

    margin: 0;

    text-align: justify;
    text-justify: inter-word;
}

.secondaryDescription {
    font-size: 14px;
    line-height: 1.6;
    color: #9ca3af;

    margin: 0;

    text-align: justify;
    text-justify: inter-word;
}
