:root {
  /* Font sizes */
  --font-xs: 0.875rem;
  /* 14px */
  --font-esm: 1rem;
  /* 16px */
  --font-sm: 1.125rem;
  /* 18px */
  --font-md: 1.5rem;
  /* 24px */
  --font-emd: 2rem;
  /* 32px */
  --font-lg: 3rem;
  /* 48px */
  --font-elg: 4.5rem;
  /* 72px */

  /* Line heights */
  --lh-xs: 1.5;
  --lh-esm: 1.5;
  --lh-sm: 1.4;
  --lh-md: 1.3;
  --lh-emd: 1.2;
  --lh-lg: 1.1;
  --lh-elg: 1.1;

  /* Font Weight */
  --fw-xs: 400;
  --fw-esm: 400;
  --fw-sm: 500;
  --fw-md: 600;
  --fw-emd: 700;
  --fw-lg: 700;
  --fw-elg: 800;
}

.text-xs {
  font-size: var(--font-xs);
  line-height: var(--lh-xs);
  font-weight: var(--fw-xs);
}

.text-sm {
  font-size: var(--font-sm);
  line-height: var(--lh-sm);
  font-weight: var(--fw-sm);
}

.text-esm {
  font-size: var(--font-esm);
  line-height: var(--lh-esm);
  font-weight: var(--fw-esm);
}

.text-md {
  font-size: var(--font-md);
  line-height: var(--lh-md);
  font-weight: var(--fw-md);
}

.text-emd {
  font-size: var(--font-emd);
  line-height: var(--lh-emd);
  font-weight: var(--fw-emd);
}

.text-lg {
  font-size: var(--font-lg);
  line-height: var(--lh-lg);
  font-weight: var(--fw-lg);
}

.text-elg {
  font-size: var(--font-elg);
  line-height: var(--lh-elg);
  font-weight: var(--fw-elg);
}