:root {
    /* Font sizes */
    --font-xs: 14px;
    --font-sm: 16px;
    --font-md: 21px;
    --font-emd: 28px;
    --font-lg: 42px;
    --font-elg: 70px;

    /* Line heights */
    --lh-xs: 1.4;
    --lh-sm: 1.5;
    --lh-md: 1.6;
    --lh-emd: 1.4;
    --lh-lg: 1.2;
    --lh-elg: 1.1;
}


.text-xs {
    font-size: var(--font-xs);
    line-height: var(--lh-xs);
}

.text-sm {
    font-size: var(--font-sm);
    line-height: var(--lh-sm);
}

.text-md {
    font-size: var(--font-md);
    line-height: var(--lh-md);
}

.text-emd {
    font-size: var(--font-emd);
    line-height: var(--lh-emd);
}

.text-lg {
    font-size: var(--font-lg);
    line-height: var(--lh-lg);
}

.text-elg {
    font-size: var(--font-elg);
    line-height: var(--lh-elg);
}
