.socialButton {
    display: flex;
    flex-direction: row;
}

.iconWrapper {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: radial-gradient(circle at left,
            rgba(0, 224, 255, 0.08),
            transparent 40%),
        linear-gradient(135deg, #00e1ffaf, #00d084b7);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    transition: border-color 0.5s ease;
    background-color: #262b47af;
}

.logo:hover {
    background: radial-gradient(circle at left,
            rgba(0, 224, 255, 0.08),
            transparent 40%),
        linear-gradient(135deg, #00e1ffaf, #00d084b7);
}

.logo img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}