/* Texto */
.content {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

/* Imagem */
.imageWrapper {
    max-width: 560px;
    width: 100%;
}

.imageWrapper img {
    width: 100%;
    height: auto;
    border-radius: 24px;
    object-fit: cover;
}

.listView {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    width: 100%;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #2d416c;
}

.companyStats {
    justify-items: center;
    margin: 20px 0 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Tablet */
@media (max-width: 1024px) {
    .companyStats {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 640px) {
    .companyStats {
        grid-template-columns: repeat(2, 1fr);
    }
}