/* Texto */
.content {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

/* Imagem */
.imageWrapper {
    max-width: 560px;
    width: 100%;
}

.imageWrapper img {
    width: 100%;
    height: auto;
    border-radius: 24px;
    object-fit: cover;
}

/* Tablet */
@media (max-width: 1024px) {
    .companyStats {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 640px) {
    .companyStats {
        grid-template-columns: repeat(2, 1fr);
    }
}