.button {
  padding: 14px 28px;
  border-radius: 999px;

  background: transparent;
  border: 2px solid var(--color-highlight-main);
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.button:hover {
  background: var(--color-highlight-main);
  color: #fefefe;
}

.button:focus,
.button:active {
  outline: none;
}
