.button {
  padding: 14px 28px;
  border-radius: 999px;

  background: transparent;
  color: #00e0ff;
  border: 1px solid rgba(0, 224, 255, 0.5);

  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background: #0091ffe2;
  color: #fefefe;
}