.button {
  padding: 14px 28px;
  border-radius: 999px;

  background: transparent;
  border: 2px solid #0091ffe2;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.button:hover {
  background: #0091ffe2;
  color: #fefefe;
}