.whatsappContact {
    height: 100%;
    border-radius: 14px;
    box-sizing: border-box;
    padding: 21px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.whatsappIcon {
    width: 90px;
    height: 90px;
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at left,
            rgba(0, 38, 255, 0.08),
            transparent 40%),
        linear-gradient(135deg, var(--color-highlight-main), var(--color-highlight-sec));
}

.benefitContainer {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.benefitCard {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
    justify-content: start;
}

.point {
    width: 10px;
    height: 10px;
    background-color: var(--color-bt-main);
    border-radius: 999px;
}

.pulseDot {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: var(--color-energy-main);
    border-radius: 50%;
}

.pulseDot::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background-color: rgba(34, 197, 94, 0.6);
    animation: pulse 1.6s ease-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.9;
    }

    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
    justify-content: center;
    padding: 14px;
}