.header {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

    gap: 21px
}

.featuresList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 21px;
}