/* Logo */
.logo {
  width: 100px;
  height: 100px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.recyclerItem {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}