/* Logo */
.logo {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
}

.logo img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.recyclerItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 21px;
}


.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 35px
}

.subContainer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.navColumn {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 14px;
}

.navColumn button {
  background: none;
  border: none;
  color: var(--color-txt-sec);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 0;
  border-radius: 0;
  transition: color 0.5s ease;
}

.navColumn button:hover {
  color: var(--color-energy-main);
}

.navColumn button:focus,
.navColumn button:active {
  outline: none;
}


.navRow {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.navRow button {
  background: none;
  border: none;
  color: var(--color-txt-sec);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 0;
  border-radius: 0;
  transition: color 0.5s ease;
}

.navRow button:hover {
  color: var(--color-energy-main);
}

.navRow button:focus,
.navRow button:active {
  outline: none;
}

.justifyText {
  text-align: center;
  text-justify: inter-word;
  hyphens: auto;
}

.itemGap {
  width: 100%;
  gap: 42px;
  display: flex;
  flex-direction: column;
}

.text {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

.footerLegal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}