.strengths {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 100%;
}

.text {
  width: 100%;
  height: 100%;
  text-align: left;
}

.iconWrapper {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1px;
  margin: 0 10px 0 0;
}

.listView {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
}
