.subContainer {
  width: 100%;
  height: 100%;
  align-items: start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.navColumn {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 14px;
}

.navColumn button {
  background: none;
  border: none;
  color: var(--color-txt-sec);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 0;
  border-radius: 0;
  transition: color 0.5s ease;
}

.navColumn button:hover {
  color: var(--color-energy-main);
}

.navColumn button:focus,
.navColumn button:active {
  outline: none;
}