.statsItem {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.value {
    margin: 0;
    background:
        radial-gradient(circle at left,
            rgba(0, 224, 255, 0.08),
            transparent 40%),
        linear-gradient(135deg, var(--color-highlight-main), var(--color-highlight-sec));

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}